<% provide(:title, "Home") %>
<div class="container col-xxl-8 px-4 py-5">
    <% if @user.nil? %>
        <div class="row flex-lg-row-reverse align-items-center g-5">
            <div class="col-10 col-sm-8 col-lg-6 d-flex justify-content-center">
                <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_fwpvkimj.json"  background="transparent"  speed="1"  style="width: 400px; height: 400px;" loop autoplay></lottie-player>
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Rails Trading App</h1>
                <p class="lead">A trading platform where you can buy and sell stocks!</p>
                <p class="lead">Built using Ruby on Rails!</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <%= link_to "About", pages_about_path, class:"btn btn-primary btn-lg", role: "button" %>
                </div>
            </div>
        </div>
    <% else %>
        <div class="row flex-lg-row-reverse align-items-center g-5">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Stock Symbol</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                <tbody class="table-group-divider">
                    <% @stocks.each do |stock| %>
                        <tr>
                            <th scope="row"><%= stock.symbol %></th>
                            <td><%= stock.name %></td>
                            <td><%= number_to_currency(stock.price) %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    <% end %>
</div>